name: Gemini Dispatch

on:
  pull_request_review_comment:
    types:
      - created
  pull_request_review:
    types:
      - submitted
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened
      - reopened
  issue_comment:
    types:
      - created

defaults:
  run:
    shell: bash

jobs:
  dispatch:
    uses: jhw7500/automation/.github/workflows/gemini-dispatch.yml@v1.15
    permissions:
      contents: read
      id-token: write
      issues: write
      pull-requests: write
    secrets: inherit
